<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453805803523-vop540o14b7dm3vqlv1snsgsbdbfgtdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453805803523-vop540o14b7dm3vqlv1snsgsbdbfgtdn</string>
	<key>API_KEY</key>
	<string>AIzaSyDrZ-PqKeEdQI-ZgbJnKdDHUIJzZnH5hAc</string>
	<key>GCM_SENDER_ID</key>
	<string>453805803523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walkWithMe</string>
	<key>PROJECT_ID</key>
	<string>walkwithme-a3172</string>
	<key>STORAGE_BUCKET</key>
	<string>walkwithme-a3172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453805803523:ios:0dd10b75f5ffe17da72636</string>
</dict>
</plist>